*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(205, 62, 62);
}
.container{
    background-color: wheat;
    width: 500px;
    height: 550px;
    border-radius: 25px;
}
.info :where(p,h1){
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container form :where(input , button){
    width: 100%;
    border: 0;
    outline: 0;
    margin: 10px 0px;
}
.container form :where(input){
    height: 50px;
    border: solid 3px  rgb(195, 73, 65);
    border-radius: 5px;
}
.container form :where(button){

}
.container :where(form){
    margin: 25px;
}
.qr-pic{
margin-left: 35%;
margin-top: 30px;
margin-bottom: 30px;
}
.img{
    border: solid 8px rgb(195, 73, 65);
    border-radius: 25px;
    margin: 10px 25px;
}
.hidden{
    display: none;
}
.bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .bn29:hover:before {
    width: 115%;
    height: 115%;
  }